html,
body {
  background-image: linear-gradient(#0e1b58, #f09fd0);
  font-family: "Exo", sans-serif;
}

a {
  text-decoration: none;
  color: #0e1b58;
}

.container-fluid {
  background: url(./stars.png) repeat-x;
  animation: slide 30s linear infinite;
}

.contribute img {
  padding-right: 20px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 40pt;
  color: #ff91d3;
}

h2 {
  text-align: center;
  font-size: 30pt;
  color: #ff91d3;
}

h3 {
  text-align: center;
  font-size: 30pt;
  color: #ff91d3;
}

h4 {
  text-align: center;
  font-size: 20pt;
  color: #ff91d3;
}

p {
  text-align: center;
  color: #ff91d3;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.features > table > tbody > tr > td {
  color: #ff91d3;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}

.img-fluid {
  border-radius: 20px;
}

.contribute img {
  max-height: 75px;
  padding-left: 20px;
  border-radius: 20px;
}

.logo {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footerleft {
  margin-left: -20px;
}

.footerright {
  margin-right: -20px;
}

.team h2 {
  color: #0e1b58;
}

.teamPhoto {
  margin: -20px;
}

.teamPhoto img {
  padding-top: 30px;
  padding-bottom: 30px;
}

.icon {
  border-radius: 20px;
}

.footer img {
  width: 200px;
}

.contribute a {
  color: #95a9ff;
}

.contribute img {
  border-radius: 20px;
}

.inspired h2 {
  color: #0e1b58;
}

.inspired p {
  color: #0e1b58;
}

.inspired img {
  border-radius: 20px;
  width: 150px;
}

.team > table > tr > th,
td {
  color: #0e1b58;
}

.team > table > tbody > tr > th > img {
  width: 131px;
}

.team > table > tbody > tr > th {
  width: 15%;
}
